@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;700&display=swap');

@import 'variables';
@import 'navigation';

*, 
*::after, 
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

body {
    font-family: 'Tomorrow', sans-serif;
    font-weight: bold;
}